.section1{
    margin-top: 100px;
    height: 420px;
    border-bottom: 2px solid #dddee9;
}

.divide-2{
    display: flex;
    padding-top: 40px;
}

.profile ,.edit{
    height: 100%;
    padding: 0 15px 0 60px;
}

.profile{
    width: 30%;
    border-right: 2px solid #dddee9;
}

.edit{
    width: 70%;
    display: flex;
}

.profile span img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 30px;
    margin-right: 50px;
}

.profile-info{
    margin-top: 30px;
}

.my-custom-scrollbar{
    position: relative;
    width: 300px;
    height: 250px;
}

.table{
    width: -webkit-fill-available;
}

.table-wrapper-scroll-y{
    top: 0px;
    margin-top: 30px;
}

.edit div{
    margin-right: 30px;
}

.getpoint, .usepoint{
    font-weight: bold;
    font-size: 20px;
}

.getpoint{
    color: rgb(0, 190, 0);
}

.usepoint{
    color: red;
}